---
import { ProductsAnimated2 } from "@/components/react/ProductsAnimated";

import AirFryerSection from "../AirFryerSection.astro";
import MixSection from "../MixSection.astro";
import CocinasSection from "../CocinasSection.astro";
import HervidorasAndCafeterasSection from "../HervidorasAndCafeterasSection.astro";
import OtherProductsSection from "../OtherProductsSection.astro";
import { AnimatedSection } from "../react/AnimatedSection";

const { currentLocale } = Astro;

// const url
const currentPath = Astro.url;
---

<div class=" sm:h-[450px] h-auto my-12 sm:my-24 flex justify-center px-5 sm:px-0  gap-3 md:gap-4 lg:gap-6 xl:gap-8  ">
  <ProductsAnimated2 client:only="react" currentUrl={currentPath} />
</div>

<main class="sm:w-[80%] w-[90%] flex flex-col gap-6 mx-auto ">

  <div class=" h-[25rem] md:h-[600px] ">
    <AnimatedSection
      client:only="react"
      lang={currentLocale || "es"}
    />
  </div>

  <div class=" h-[25rem] md:h-[30rem] ">
    <AirFryerSection />
  </div>

  <div class=" h-[25rem] md:h-[30rem] ">
    <MixSection />
  </div>

  <div class=" lg:h-[30rem] ">
    <CocinasSection />
  </div>

  <div class=" lg:h-[30rem] sm:h-auto ">
    <HervidorasAndCafeterasSection />
  </div>

  <div class=" flex gap-4 flex-col ">
    <OtherProductsSection />
  </div>

</main>

<style is:global>
  /* Gaps personalizados para dispositivos móviles */
  .custom-gap-0 {
    gap: 10px;
  }
  .custom-gap-1 {
    gap: 10px;
  }
  .custom-gap-2 {
    gap: 10px;
  }
  .custom-gap-3 {
    gap: 20px;
  }
  .custom-gap-4 {
    gap: 10px;
  }
  .custom-gap-5 {
    gap: 10px;
  }
  .custom-gap-6 {
    gap: 10px;
  }

  /* Media Query para pantallas pequeñas (sm) */
  @media (min-width: 640px) {
    .custom-gap-0 {
      gap: 20px;
    }
    .custom-gap-1 {
      gap: 20px;
    }
    .custom-gap-2 {
      gap: 30px;
    }
    .custom-gap-3 {
      gap: 20px;
    }
    .custom-gap-4 {
      gap: 30px;
    }
    .custom-gap-5 {
      gap: 20px;
    }
    .custom-gap-6 {
      gap: 20px;
    }
  }
</style>
