---
import ProductsSection from "../home/ProductsSection.astro";
import AiresSection from "../home/AiresSection.astro";
import AirFryerSection from "../home/AirFryerSection.astro";
import Mixteras from "../home/MixterasSection.astro";
import ScootersSection from "../home/ScootersSection.astro";
import TvsSection from "../home/TvsSection.astro";
import ProductsCards from "../ProductsCards.astro";
import CocinasSection from "../CocinasSection.astro";
import HervidorasAndCafeterasSection from "../HervidorasAndCafeterasSection.astro";
---

<ProductsCards />

<hr class=" my-12  border-transparent">

<ScootersSection />

<hr class=" my-12  border-transparent">


<TvsSection /> 

<hr class=" my-12  border-transparent">


<AirFryerSection /> 

<hr class=" my-12  border-transparent">


<AiresSection />
<Mixteras />

<div class=" lg:h-[20rem] w-[90%] lg:w-[80%] mx-auto  mt-8">
    <HervidorasAndCafeterasSection />
</div>
  

<ProductsSection />