---

import { motion } from 'framer-motion'
import PrimaryButton from './PrimaryButton.astro'

import { getI18NGlobal, getValueFromKey } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18NGlobal({ currentLocale });

const t = (key: string) => {
  return getValueFromKey(key, i18n);
};

---

<section
class=' bg-interbrasGreen-900 relative rounded-[40px]  h-full flex flex-col lg:flex-row items-center p-10  gap-5'
>
<img loading="lazy"  src='/home/cocinaSection/1.webp' alt='Cocinas interbras' class=' rounded-[40px] h-[15rem]  lg:h-full object-cover' />
<div class='text-center text-white w-full flex flex-col gap-3  '>
  <h2 class=' text-3xl md:text-4xl  font-semibold  w-72  mx-auto'>
    {t('home.CocinasSection.title')}
  </h2>
  <p class=' text-xl font-light leading-5 w-72 mx-auto '>
    {t('home.CocinasSection.description')}
  </p>
  <div class=' w-min mx-auto'>
    <PrimaryButton to='/productos/cocinas' />
  </div>
</div>
</section>