---
import { getI18NGlobal } from "@/i18n";

const { currentLocale } = Astro;

const i18n = getI18NGlobal({ currentLocale });
---

<div
  id="WeProductsSection"
  class="h-full w-full hidden justify-center lg:justify-between"
>
  PRODUCTOS
</div>
